/* colors */

* {
    background:     #02010CFF;
    background-alt: #02010CFF;
    foreground:     #808080FF;
    selected:       #AE45BEFF;
    active:         #666666FF;
    urgent:         #666666FF;
}
