/* colors */

* {
    background:     #0A151DFF;
    background-alt: #0A151DFF;
    foreground:     #808080FF;
    selected:       #ABCDCCFF;
    active:         #666666FF;
    urgent:         #666666FF;
}
