/* colors */

* {
    background:     #051017FF;
    background-alt: #051017FF;
    foreground:     #808080FF;
    selected:       #8B8797FF;
    active:         #666666FF;
    urgent:         #666666FF;
}
